*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

//@import url(https://fonts.googleapis.com/css?family=Montserrat);
//@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
    //unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
    //unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}







body  {
	background: #6a6a6a;
}

.container {
	padding: 80px;
	position: absolute;
	z-index: 100;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}


.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	font-family: 'Montserrat', sans-serif;
	border-width: 0px;
	border-style: solid;
	border-color: #333;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 30px 30px 90px 30px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
	position: fixed;
	bottom: 22px;
	left: 50%;
	z-index: 999;
	display: block;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 8%;
	background-color: #fff;
	font-size: 0px;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
//	user-select: none;
}

.bt-menu-open .bt-menu-trigger span {
	//background-color: #8A0000;
        background-color: #0088CC;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before,
.bt-menu-open .bt-menu-trigger span:after {
	//background-color: #8A0000;
        background-color: #0088CC;
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(-350%);
	transform: translateY(-350%);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(350%);
	transform: translateY(350%);
}

.bt-menu ul {
	position: fixed;
	bottom: 0px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	text-align: center;
	white-space: nowrap;
	height: 0;
	-webkit-transition: height 0s 0.3s;
	transition: height 0s 0.3s;
}

.bt-menu.bt-menu-open ul {
	height: 90px;
	-webkit-transition: none;
	transition: none;
}

.bt-menu ul li,
.bt-menu ul li a {
	text-align: center;
}

.bt-menu ul li {
	display: inline-block;
	margin: 0 2%;
	width: 5%;
	height: 90px;
	line-height: 90px;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.bt-menu ul li:nth-child(3) {
	margin-right: 70px;
}

.bt-menu ul li:nth-child(4) {
	margin-left: 70px;
}

.bt-menu.bt-menu-open ul li {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.bt-menu.bt-menu-open ul li:first-child,
.bt-menu.bt-menu-open ul li:last-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.bt-menu.bt-menu-open ul li:nth-child(2),
.bt-menu.bt-menu-open ul li:nth-last-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul li:nth-child(3),
.bt-menu.bt-menu-open ul li:nth-last-child(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.bt-menu ul li a {
	display: block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.15em;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul li a:before {
	display: none;
	font-size: 32px;
}

.bt-menu ul li a:hover,
.bt-menu ul li a:focus {
	//color: #8A0000;
        color: #0088CC;
        
}

@media screen and (max-width: 65.1em) { //1041.6px;
	.bt-menu ul li a {
		font-size: 90%;
	}
        
        .myPhoto {
          //  margin-right: 40px;
          
        }
        
        
}

@media screen and (max-width: 55.5em) { //888px;
	.bt-menu ul li {
		margin: 0 15px;
	}

	.bt-menu ul li a {
		font-size: 0px;
	}

	.bt-menu ul li a:before {
		display: block;
	}
        
        
}

@media screen and (max-width: 36.625em) { // 586px;
	.bt-menu-trigger {
		width: 40px;
		margin-left: -20px;
	}

	.bt-menu ul li {
		margin: 0 2%;
	}

	.bt-menu ul li:nth-child(3) {
		margin-right: 50px;
	}

	.bt-menu ul li:nth-child(4) {
		margin-left: 50px;
	}

	.bt-menu ul li a:before {
		font-size: 24px;
	}
        
        .bio {
            // margin-top: 50px;
            //  margin-left: 20px;
            font-size: medium;
            width: 100%;
            //margin-right: 30px;
            //z-index: 10;
        }

        .myPhoto {
            // float: left;
            //position: fixed;
            //top: 100px;
            //right: 100px;
            //padding: 0px 80px 0px 0px;
            padding: 0px;
            border-radius: 100px;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px;

        }
        
        .owl-carousel {

        }
}

@media screen and (max-width: 20em) { /*320 px */
    .bt-menu-trigger {
        width: 40px;
        margin-left: -20px;
    }

    .bt-menu ul li {
       margin: 0 2%;
    }

    .bt-menu ul li:nth-child(3) {
        margin-right: 50px;
    }

    .bt-menu ul li:nth-child(4) {
        margin-left: 50px;
    }

    .bt-menu ul li a:before {
        font-size: 24px;
    }
    
    .bio {
       // margin-top: 50px;
      //  margin-left: 20px;
        font-size: medium;
        width: 100%;
        //margin-right: 30px;
       //z-index: 10;
    }
    
    .myPhoto {
        // float: left;
        //position: fixed;
        //top: 100px;
        //right: 100px;
        //padding: 0px 80px 0px 0px;
        padding: 0px;
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        
    }
    
    //.photo320 {
    //    display: none;
    //}

    //.photowhole {
    //    display: none;
    //}
    
//    .FB {
//        position: fixed;
//        top: 10px;
//        right: 200px;
//        background-color: #0088CC;
//        z-index: 120;
//    }
    
//    .TW {
//        position: fixed;
//        top: 10px;
//        right:140px;
//        background-color: #0088CC;
//        z-index: 120;
//    }
    
//    .YT {
//        position: fixed;
//        top: 10px;
//        right:80px;
//        background-color: #000000;
//        z-index: 120;
//    }
    
    .GP {
        position: fixed;
        top: 10px;
        right:20px;
        background-color: #ff0000;
        z-index: 120;
    }
    
    .codrops-header {
        
     //   font-size: medium;
     //   width: 100%;
    }
    
    .owl-carousel {

    }
    
   
    
}
@media screen and (max-width: 22.5em) { /*360 px */
    body {
        background-color:purple;
    }
    .bt-menu-trigger {
        width: 40px;
        margin-left: -20px;
    }

    .bt-menu ul li {
        margin: 0 2%;
    }

    .bt-menu ul li:nth-child(3) {
        margin-right: 50px;
    }

    .bt-menu ul li:nth-child(4) {
        margin-left: 50px;
    }

    .bt-menu ul li a:before {
        font-size: 24px;
    }

    .bio {
        margin-left: 0px;
        margin-right: 30px;
     // width: 80px;
    }

    .myPhoto {
        // float: left;
        //position: fixed;
        //top: 100px;
        //right: 100px;
      //  padding: 0px 80px 0px 0px;
    //  width: 40px;
    }
    
    .owl-carousel {
        
    }

}


/*Gallery Code */

html, body{
	margin: 0;
	padding: 0;
}

.tf_bg{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
}
.tf_bg img{
	position:absolute;
	top:0px; /*-482px;	 -(imgh/2 - wh/2) */
	left:0px;	/* calculate a negative value to center horizontally */
	width:100%;	/* windowwidth plus negative value of left */
	/*height:1650px; /* windowheight plus negative value of top */
	z-index: 1;
	display:none;
}
.tf_pattern{
	position:absolute;
	width:100%;
	height:100%;
	background:transparent url(../images/pattern.png) repeat top left;
	z-index:2;
}
.tf_content{
	position:absolute;
	bottom:50px;
	left:50px;
	z-index:10;
	display:none;
}
.tf_content h2{
	color:#fff;
	font-size:90px;
	padding:0;
	margin:0;
	font-family: 'PT Sans Narrow', arial, serif;
	text-shadow:1px 1px 2px #000;
}
	
.tf_content p{
	color:#fff;
	padding:0;
	margin:0;
	background:transparent url(../images/bg_content.png) repeat top left;
	padding:40px;
	width:500px;
	font-family: 'PT Sans Narrow', arial, serif;
	font-size:20px;
	line-height:25px;
	text-transform:uppercase;
	text-shadow:2px 2px 1px #000;
	-moz-box-shadow:1px 1px 5px #202020;
	-webkit-box-shadow:1px 1px 5px #202020;
	box-shadow:1px 1px 5px #202020;
	border:4px solid #fff;
}

.tf_thumbs{
	position:absolute;	
	z-index:12;
	right:50px;
	top:30%;
	margin-top:-79px;
	border:4px solid #fff;
	-moz-box-shadow:1px 1px 5px #202020;
	-webkit-box-shadow:1px 1px 5px #202020;
	box-shadow:1px 1px 5px #202020;	
	-webkit-box-reflect:
		below 5px
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			from(transparent),
			color-stop(0.6, transparent),
			to(rgb(18, 18, 18))
		);
}
.tf_thumbs img{
	display:block;
}
.tf_loading{
	position:fixed;
	top:50%;
	left:30%;
	margin:-30px 0px 0px -30px;
	width:60px;
	height:60px;
	background:#fff url(../images/loader.gif) no-repeat center center;
	z-index:105;
	opacity:0.7;
}
.tf_next,
.tf_prev{
	width:35px;
	height:14px;
	position:absolute;
	top:8%;
	left:2%;
	z-index:100;
	cursor:pointer;
	background:transparent url(../images/nav.png) no-repeat top left;
	opacity:0.5;
}
.tf_next{
	background-position:0px -14px;
	margin-top:80px;
}
.tf_prev{
	background-position:0px 0px;
	margin-top:-55px;
}
.tf_next:hover,
.tf_prev:hover{
	opacity:0.9;
}
.tf_zoom,
.tf_fullscreen{
	width:20px;
	height:20px;
	position:absolute;
	top:6px;
	right:6px;
	cursor:pointer;
	z-index:100;
	opacity:0.6;
	background:transparent url(../images/icons.png) no-repeat top left;
}
.tf_zoom{
	background-position:0px -20px;
}
.tf_fullscreen{
	background-position:0px 0px;
}
.tf_zoom:hover,
.tf_fullscreen:hover{
	opacity:0.9;
}
.reference{
	position:fixed;
	bottom:0px;
	right:0px;
	background:#000;
	height:23px;
	text-align:right;
	width:100%;
	text-shadow:1px 1px 1px #000;
	z-index:105;
	opacity:0.8;
}
.description{
	position:fixed;
	top:5px;
	right:5px;
	text-shadow:1px 1px 1px #000;
	z-index:105;
}
.reference a, .description span{
	color:#fff;
	text-transform: uppercase;
	margin-left:20px;
	text-decoration:none;
	font-family:Arial;
	font-size:10px;
}
a.last{
	float:left;
	line-height:23px;
}
.reference a:hover{
	text-shadow:0px 0px 1px #fff;
}

/* About Page */

.tf_content2{
	position:absolute;
	top:50px;
	right:50px;
	z-index:10;
	display:none;
}
.tf_content2 h2{
	color:#fff;
	font-size:90px;
	padding:0;
	margin:0;
	font-family: 'Montserrat', sans-serif;
	text-shadow:1px 1px 2px #8A0000;
}
.tf_content2 h3{
	color:#fff;
	font-size:45px;
	padding:0;
	margin:0;
	font-family: 'Montserrat', sans-serif;
	text-shadow:1px 1px 2px #8A0000;
}
.tf_content2 p{
	color:#fff;
	padding:0;
	margin:0;
	background:transparent url(../images/bg_content.png) repeat top left;
	padding:40px;
	width:500px;
	height:700px;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	line-height:25px;
	text-transform:uppercase;
	text-shadow:2px 2px 1px #000;
	-moz-box-shadow:1px 1px 5px #202020;
	-webkit-box-shadow:1px 1px 5px #202020;
	box-shadow:1px 1px 5px #202020;
	border:4px solid #333;
}

.tf_calander{
	position:absolute;
	top:50px;
	left:50px;
	z-index:10;
	display:none;
}
.tf_calander h2{
	color:#fff;
	font-size:90px;
	padding:0;
	margin:0;
	font-family: 'Montserrat', sans-serif;
	text-shadow:1px 1px 2px #8A0000;
}
.tf_calander h3{
	color:#fff;
	font-size:15px;
	padding:0;
	margin:0;
	font-family: 'Montserrat', sans-serif;
	text-shadow:1px 1px 2px #8A0000;
}
.tf_calander p{
	color:#fff;
	padding:0;
	margin:0;
	background:transparent url(../images/bg_content.png) repeat top left;
	padding:40px;
	width:500px;
	height:700px;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	line-height:25px;
	text-transform:uppercase;
	text-shadow:2px 2px 1px #000;
	-moz-box-shadow:1px 1px 5px #202020;
	-webkit-box-shadow:1px 1px 5px #202020;
	box-shadow:1px 1px 5px #202020;
	border:4px solid #333;
}

/* Social Newtorking Icons Innit */

.FB{
	position: fixed;
	top: 10px;
	right: 200px;
        background-color: #0088CC; 
        z-index: 99;
        
        
        
}

//a.typcn.typcn-social-facebook:hover {
//    background-color: lime;
//}

//a.typcn.typcn-social-facebook:visited {
 //   background-color: lime;
   // width: 35px;
    //height: 35px;
//}



a.FB::link {
    background-color: red;
}
a.FB::visited {
    background-color: lightblue;
}
a.FB::hover {
    background-color: white;
    //text-decoration: underline;
}
a.FB::active {
    background-color: blue;
}

.TW{
	position: fixed;
	top: 10px;
	right:140px;
        background-color: #0088CC;
        z-index: 99;
}

.GH{
	position: fixed;
	top: 10px;
	right:80px;
        background-color: #000000;
       // z-index: 99;
}

.GP{
	position: fixed;
	top: 10px;
	right:20px;
        background-color: #ff0000;
        z-index: 99;
}

.myPhoto {
   // float: right;
    //position: fixed;
    //top: 100px;
    //right: 100px;
    //padding: 5px 5px 5px 5px;
}

.bio {
   // float: left;
}
.myHeaderPic {
  //  margin: 10px 0px 0px 0px;
 //   padding: 10px 200px 10px 0px;
   
    
 //   width: 80%;
  //  border: 3px;
    //padding: 5px;
    
  //  box-sizing: border-box;
}


    
    a:link {
        color: white;
    }
    a:visited {
        color: lime;
    }
    a.hover {
        color: darkgrey;
        text-decoration: underline;
    }
    a.active {
        color: blue;
    }
    
    .contact {
        padding: 50px 50px;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    
    h1 {
        margin-bottom: 20px;
    }
    
    input:required:invalid, input:focus:invalid {
        /* insert your own styles for invalid form input */
        -moz-box-shadow: none;
    }
    
    a {
        padding: 5px;
    }